<div class="header-wrapper">
  <div class="navbar">
    <nav class="nav-head">
      <h1>jessica fooskas</h1>
      <nav></nav>
      <nav></nav>
      <nav></nav>
    </nav>
    <nav class="nav-subhead">
      <nav>
        <h2>professional hair and makeup artist</h2>
      </nav>
      <nav class="nav-container">
        <a href="/"><nav class="nav-item">Home</nav></a>
        <a href="about-jessica"><nav class="nav-item">About</nav></a>
        <a href="bridal-hair-and-makeup"><nav class="nav-item">Bridal</nav></a>
        <a href="editorial"><nav class="nav-item">Editorial</nav></a>
        <a href="contact-jessica"><nav class="nav-item">Contact</nav></a>
      </nav>
    </nav>
  </div>

</div>
