<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/headMeta %>
  <title>Jessica Fooskas | NYC Makeup Artist</title>
  <meta name="description" content="Jessica Fooskas is a professional Makeup Artst in the New York City area, specializing in Bridal Hair and Makeup.">
  <link rel="amphtml" href="https://www.jessicafooskas.com/amp/index.html">

</head>
<body>
    <% include partials/header %>

    <!-- <div class="section">
      <div class="three-col-img-container">
        <div class="three-col-img-item">
          <img src="/images/beauty_imgs/Shock-and-Awe2.jpg" alt="">
        </div>
        <div class="three-col-img-item">
          <img src="/images/beauty_imgs/Shock-and-Awe3.jpg" alt="">
        </div>
        <div class="three-col-img-item">
          <img src="/images/beauty_imgs/Shock-and-Awe5.jpg" alt="">
        </div>
      </div>
    </div> -->

    <!-- <div style="margin-bottom:-5px;" class="section"> -->
      <div clas="one-col-img-container">
        <img src="/images/beauty_imgs/Shock-and-Awe1-BW.jpg" alt="">
      </div>
    <!-- </div> -->

    <!-- <div class="section"> -->
      <!-- <div class="two-col-img-container">
        <div>
          <img height="600px;" src="/images/beauty_imgs/Shock-and-Awe4.jpg" alt="">
        </div>
        <div>
          <img height="600px;"  src="/images/beauty_imgs/Shock-and-Awe6.jpg" alt="">
        </div>
      </div>
    </div> -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>
