/****************** BODY  ********************/

.section{
  text-align:center;
  font-size: 3em;
  height:500px;
  border-top: 4px solid rgba(5,5,5,0.2)
}
a{
  text-decoration: none;
  color: black;
}

/****************** NAVIGATION  ********************/

.navbar{
  background-color: white;
  width: 100%;
  position: fixed;
  height:50px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.nav-container{
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
}
.nav-item{
  margin: 7px;
  padding: 3px;
  font-size: 20px;
  /*border: 1px solid white;*/
}

/****************** HEADER & FOOTER  ********************/

#header, #footer{
  position: fixed;
  display: block;
  width: 100%;
  background: white;
  z-index: 9;
  text-align: center;
  color: blue;
  /*padding: 20px 0 0 0;*/
}
#header{
  top: 0px;
}
#footer{
  bottom: 0px
}
.footer{
  height: 65px;
  background-color: white;
  display: flex;
  justify-content: center;
  color: black;
}
.footer-item{
  margin: 2px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
