/****************** BODY  ********************/

a{
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 52px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: black;
  margin: 5px;
  padding: 0;
}
h2 {
  font-size: 24px;
  color: gray;
  font-weight:300;
  margin: 0px;
  padding: 0;
  margin-left: 5px;
  text-align: center;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
div {
  padding: 0;
  margin: 0;
}
img {
  padding: 0;
  margin: 0;
}

/****************** MAIN  ********************/

#main {

}

.section{
  width: 100%;
  margin: 0;
  padding: 0;
}
.about-me-flex-container{
  display: flex;
  flex-flow: row;
  /*flex-wrap: wrap;*/
  justify-content: space-around;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
}
@media (max-width: 760px){
  .about-me-flex-container{
    flex-wrap: wrap;
  }
}
.about-me-img-container{
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  min-height: 485px !important;
  min-width: 300px !important;
  max-height: 485px !important;
  max-width: 300px !important;

}
.about-me-text-container{
  display: inline-block;
  width: 68%;
  text-align: center;
  vertical-align: baseline;
  margin-left: 10px;
}
@media (max-width: 760px){
  .about-me-text-container{
    display: block;
    width: 100%;
    text-align: center;
    vertical-align: baseline;
    margin: 10px;
  }
}

.form-subfooter{
  font-size: 12px;
}

.two-col-container{
  display: block;
  margin: 5px;
}
.two-col-item-left{
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
@media (max-width: 760px){
  .two-col-item-left{
    display: block;
    width: 100%;
  }
}
.two-col-item-right{
  display: inline-block;
  vertical-align: top;
  width: 39%;
}
@media (max-width: 760px){
  .two-col-item-right{
    display: block;
    width: 70%;
  }
}
.one-col-img-container{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-flow: row;
}
@media (max-width: 1000px){
  .three-col-img-container{
    flex-wrap: wrap;
  }
}

.two-col-img-container{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-flow: row;
}
@media (max-width: 1000px){
  .three-col-img-container{
    flex-wrap: wrap;
  }
}

.three-col-img-container{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-flow: row;
}
@media (max-width: 1000px){
  .three-col-img-container{
    flex-wrap: wrap;
  }
}

img {
  height: 100%;
  width: 100%;
}
.banner{
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 30px;
  text-align: center;
}

/****************** NAVIGATION  ********************/
.header-wrapper{
  margin: 0;
  margin-bottom: -9px;
}
.nav-head{
  /*margin-left: 90px;*/
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  width: 100%;
}
@media (max-width: 760px){
  .nav-head {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.navbar{
  background-color: white;
  width: 100%;
  min-height:50px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: baseline;
  margin-left: 4px;
  margin-right: 4px;
  /*margin-bottom: 20px;*/
}
.nav-subhead{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  align-items: baseline;
  padding-bottom: 5px;

}
@media (max-width: 760px){
  .nav-subhead {
    flex-wrap: wrap;
  }
}
@media (max-width: 760px){
  .navbar {
    flex-wrap: wrap;
  }
}
.nav-container{
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
}
.nav-item{
  margin: 7px;
  font-size: 20px;
}
@media (max-width: 500px){
  .nav-item{
    font-size: 18px;
  }
}
.logo{
  text-align: center;
}
#map{
  width: 100%;
  height: 400px;
  background-color: grey;
}
/****************** HEADER & subfooter  ********************/

#header{
  margin-bottom: 20px;
}
#subfooter{
  /*position: relative;
  bottom: 3px;
  right: 8px;*/
}
.subfooter{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
@media (max-width: 760px){
  .subfooter{
    flex-flow: column;
  }
}
.subfooter-container{
  display: flex;
  justify-content: center;
  margin-top: -25px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;
}
@media (max-width: 760px){
  .subfooter-container{
    justify-content: center;
  }
}
.subfooter-item{
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-right: 2px;
}
@media (max-width: 760px){
  .subfooter-item{
    margin-left: 15px;
  }
}
.subfooter-item-img{
  height: 100%;
  width: 100%;
}
.subfooter-item-fb{
  height: 35px;
  width: 35px;
  margin-left: 3px;
  margin-top: -3px;
}
@media (max-width: 760px){
  .subfooter-item-fb{
    margin-left: 12px;
  }
}
.subfooter-item-pin{
  height: 36px;
  width: 36px;
  margin-left: 3px;
  margin-top: -3px;
}
@media (max-width: 760px){
  .subfooter-item-pin{
    margin-left: 12px;
  }
}


.container-demo {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container-demo div {
  background-color: white;
  width: 100%;
  display: inline-block;
  display: none;
}
.container-demo img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}
