/****************** BODY  ********************/

a{
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 52px;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  color: black;
  margin: 5px;
  padding: 0;
}
h2 {
  font-size: 26px;
  color: gray;
  font-weight:300;
  margin: 0px;
  padding: 0;
  margin-left: 5px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/****************** MAIN  ********************/

#main {

}

.section{
  min-height: 400px;
}

.form-subfooter{
  font-size: 12px;
}

.two-col-container{
  display: block;
  margin: 5px;
}
.two-col-item-left{
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
@media (max-width: 760px){
  .two-col-item-left{
    display: block;
    width: 100%;
  }
}
.two-col-item-right{
  display: inline-block;
  vertical-align: top;
  width: 39%;
}
@media (max-width: 760px){
  .two-col-item-right{
    display: block;
    width: 70%;
  }
}

.three-col-img-container{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-flow: row;
}
@media (max-width: 1000px){
  .three-col-img-container{
    flex-wrap: wrap;
  }
}

.banner{
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 30px;
  text-align: center;
}

/****************** NAVIGATION  ********************/

.navbar{
  background-color: white;
  width: 100%;
  min-height:50px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-left: 4px;
  margin-right: 4px;
  /*margin-bottom: 20px;*/
}
@media (max-width: 760px){
  .navbar {
    flex-wrap: wrap;
  }
}
.nav-container{
  display: flex;
  justify-content: center;
  margin-left: 1px;
  margin-right: 1px;
}
.nav-item{
  margin: 7px;
  padding: 3px;
  font-size: 20px;
}
.logo{
  text-align: center;
}
#map{
  width: 100%;
  height: 400px;
  background-color: grey;
}
/****************** HEADER & subfooter  ********************/

#header{
  margin-bottom: 20px;
}
#subfooter{
  /*position: relative;
  bottom: 3px;
  right: 8px;*/
}
.subfooter{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
@media (max-width: 760px){
  .subfooter{
    flex-flow: column;
  }
}
.subfooter-container{
  display: flex;
  justify-content: center;
  margin-top: -25px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0;
}
@media (max-width: 760px){
  .subfooter-container{
    justify-content: center;
  }
}
.subfooter-item{
  height: 30px;
  width: 30px;
  margin-left: 6px;
  margin-right: 2px;
}
@media (max-width: 760px){
  .subfooter-item{
    margin-left: 15px;
  }
}
.subfooter-item-img{
  height: 100%;
  width: 100%;
}
.subfooter-item-fb{
  height: 35px;
  width: 35px;
  margin-left: 3px;
  margin-top: -3px;
}
@media (max-width: 760px){
  .subfooter-item-fb{
    margin-left: 12px;
  }
}
.subfooter-item-pin{
  height: 36px;
  width: 36px;
  margin-left: 3px;
  margin-top: -3px;
}
@media (max-width: 760px){
  .subfooter-item-pin{
    margin-left: 12px;
  }
}
