<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/headMeta %>
  <title>About Jessica | NYC Makeup Artist</title>
  <meta name="description" content="Based out of Brooklyn NY, Jessica Fooskas is a professional Makeup artist.">
</head>
<body>
  <% include ../partials/header %>


<div class="section">
  <div class="about-me-flex-container">
    <div class="about-me-img-container">
      <img src="./images/jessica.jpg" alt="">
    </div>
    <div class="about-me-text-container">
      <p>
        “When you look beautiful you feel beautiful.” is the mantra of Jessica Fooskas who realized the importance of this key essential during her studies at Metro Beauty Academy where she received a cosmetology degree in 2011. She knew that in order to be the best, she had to study with the best and set her sights on the city of Los Angeles where she studied at <a href="http://mud.edu/los-angeles" target="_blank" style="color: #0078ff">Make-up Designory (MUD)</a>, for fashion, film and television. Fooskas also became certified through the Sharon Blain boot camp for event hair styling in 2016.
      </p>
      <p>
        “I love making people feel like the best version of themselves.”
      </p>
      <p>
        If you’re looking for a make-up artist who can give you “the works” and make you feel like your best self, Fooskas is the person you’d want to hire. She has been nominated in the top ten of <a href="https://www.thumbtack.com/ny/new-york/hair-and-makeup-artists/" target="_blank" style="color: #0078ff">Thumbtack’s best of 2016 Hair and Makeup Artists.</a> She was also selected as the hair and makeup artist for <a href="https://shockandawww.com/collections/shop-ss17-collection" target="_blank"style="color: #0078ff">“Shock and Aww” SS17 Collection</a>.
      </p>
      <p>
        When she is not doing hair and makeup, Fooskas can be found in Brooklyn, NY hanging out with her French Bulldog, exercising and perfecting her love of interior design and if you can’t find her there, she’s most likely traveling the world and soaking up some culture.
      </p>
    </div>
  </div>

</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>
