<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/headMeta %>
  <title>Beauty Work | NYC Hairstylist and Makeup Artist</title>
  <meta name="description" content="Jessica Fooskas is a professional Hairstylist and Makeup Artst in the New York City area, specializing in Bridal Hair and Makeup.">
</head>
<body>
  <% include ../partials/header %>


  <div class="banner">
    <h1>The site is currently under construction. Please feel free to visit our contact page for an inquiries!</h1>
    <h2>Please check back soon!</h2>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>
