<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/headMeta %>
  <title>Bridal Makeup | NYC Makeup Artist</title>
  <meta name="description" content="Jessica Fooskas is a professional makeup artist in New York City.">
</head>
<body>
  <% include ../partials/header %>


  <div class="section">
    <div class="three-col-img-container">
      <div>
        <img src="/images/bridal_imgs/LD-bridal-01.jpg" alt="Bridal hair and makeup couple photo">
      </div>
      <div>
        <img src="/images/bridal_imgs/bridal-03.jpg" alt="Bride hair and makeup close up">
      </div>
      <div>
        <img src="/images/bridal_imgs/LD-bridal-02.jpg" alt="Bride hair and makeup solo photo">
      </div>
    </div>
  </div>


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>
