<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/headMeta %>
  <title>Sorry! Error 404 | NYC Makeup Artist</title>
  <meta name="description" content="Jessica Fooskas is a professional Makeup Artst in the New York City area, specializing in Bridal Hair and Makeup.">
</head>
<body>
  <% include ../partials/header %>


  <div class="banner">
    <h1>Sorry! The page you were looking for cannot be found, please check back soon.</h1>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="./js/app.js"></script>
</body>
</html>
