<div class="navbar">
  <nav class-"nav-container logo">
    <h1>Jessica Fooskas</h1>
    <h2>Hair and Makeup Artist</h2>
  </nav>
  <nav class="nav-container">
    <a href="/"><nav class="nav-item">Home</nav></a>
    <a href="about"><nav class="nav-item">About</nav></a>
    <a href="beauty"><nav class="nav-item">Beauty</nav></a>
    <a href="bridal"><nav class="nav-item">Bridal</nav></a>
    <a href="contact"><nav class="nav-item">Contact</nav></a>
  </nav>
</div>
<div id="subfooter">
  <div class="subfooter">
    <div class="nav-container">
      <nav class="subfooter-item"></nav>
    </div>
    <div class="subfooter-container">
      <nav class="subfooter-item">
        <a href="//twitter.com"><img src="./images/icon_imgs/twitter.png" class="subfooter-item-img"></img></a>
      </nav>
      <nav class="subfooter-item">
        <a href="//instagram.com/jessicafooskas"><img src="./images/icon_imgs/instagram.png" class="subfooter-item-img"></img></a>
      </nav>
      <nav class="subfooter-item-fb">
        <a href="//facebook.com/jfooskas"><img src="./images/icon_imgs/facebook.png" class="subfooter-item-img"></img></a>
      </nav>
      <nav class="subfooter-item-pin">
        <a href="//pinterest.com/jfooskas"><img src="./images/icon_imgs/pinterest.png" class="subfooter-item-img"></img></a>
      </nav>
    </div>
  </div>
</div>
